*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;

}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}


#username-nav {
  font-weight: bold;
  color: blue;
}