 <div class="form">
  <% if @errors %>
  <%= erb :"_errors" %>
  <% end %>

  <form class="userForm" method="POST" action="/restaurants/<%= @restaurant.id %>/reviews">
    <div class="form-group">
      <!-- <label for="yourThoughtsinput col-sm-12"> Your Thoughts: </label> -->
      <br><br>
      <textarea rows="2" name="review[content]" class="form-control" placeholder="Tell us what you think" id="yourThoughtsinput"></textarea><br>
    </div>
    <label for="ratingInput"> Rating: </label>
    <div class="form-group">
      <select class="form-control" name="review[points]">
        <option selected>Choose...</option><br>
        <option value=1>1 </option> <br>
        <option value=2>2 </option> <br>
        <option value=3>3 </option> <br>
        <option value=4>4 </option> <br>
        <option value=5>5 </option>
      </select>
    </div>
    <input type="hidden" name="review[restaurant_id]" value=<%= @restaurant.id %>>
    <input type="hidden" name="review[author_id]" value=<%= current_user.id %>>
    <button class="btn btn-primary" type="submit">Add my review!</button>
  </form>
</div>
