<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/public/css/application.css">


  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <title>Yelpy</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand"  id="nav-header" href="/restaurants" style="font-family: 'Pacifico', cursive; font-size: 30px;">Yelpy</a>
            </div>
            <div class="collapse navbar-collapse"> 
              <ul class="nav navbar-nav">
                <% if logged_in? %>
                <li class="nav-item">
                  <a class="nav-link" href="/restaurants/new">New Restaurant</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/<%= current_user.id %>"> Profile </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="username-nav" href="/users/<%= current_user.id %>" style="color: blue;"> <%= User.find(session[:user_id]).username %> </a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                  <form class="navbar-form" method="post" action="/logout">
                    <input type="hidden" name="_method" value="delete">
                    <button class="btn btn-default navbar-btn" type="submit">Logout</button>
                  </form>
                <li>
              </ul>
              <% else  %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav" href="/users/new">Create Account</a>
                </li>
              </ul>
              <% end %>
            </div>
          </div>
        </nav>
  </header>
  <%= yield %>
</body>
</html>
